div.Body
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Body_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Body_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.dots
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 8.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.dots_outer
{
  margin-bottom: 8.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.dots_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Footer
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Footer_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Footer_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H_002fF_Portrait
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H_002fF_Portrait_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.H_002fF_Portrait_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Head1
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 20.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Head1_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 20.0pt;
}

.Head1_inner
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableSubhead
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableSubhead_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.TableSubhead_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableText
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableText_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.TableText_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Bold
{
  font-weight: bold;
}

span.Emphasis
{
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Italics
{
  color: #000000;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.TypedInText
{
  font-family: "Courier New";
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

table.UnstructMasterPageMaps
{
  border-collapse: collapse;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  padding-bottom: 3pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 3pt;
  text-align: left;
}

table.Format_A
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: left;
}

table.Format_B
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: center;
}

table.Hint
{
  border-collapse: collapse;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 4pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 4pt;
  text-align: left;
}

table.N2col_table
{
  border-collapse: collapse;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 3pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 4pt;
  table-layout: auto;
  text-align: left;
}

table.Mapping_Table
{
  border-collapse: collapse;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  padding-bottom: 2pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 2pt;
  text-align: left;
}

table.Question
{
  border-collapse: collapse;
  margin-bottom: 0.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: center;
}

table.Sidebar_table
{
  border-collapse: collapse;
  margin-bottom: 14.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 8.0pt;
  padding-bottom: 5pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 5pt;
  text-align: left;
}

table.report
{
  border-collapse: collapse;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 4.0pt;
  padding-bottom: 2pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 3pt;
  text-align: left;
}

table.N1col_table
{
  border-collapse: collapse;
  margin-bottom: 8.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: left;
}

table.table_text_bullet
{
  border-collapse: collapse;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: left;
}

table.DialogBox
{
  border-collapse: collapse;
  margin-bottom: 0.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: center;
}

table.FieldDesc
{
  border-collapse: collapse;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 3pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 4pt;
  text-align: left;
}

table.Warning
{
  border-collapse: collapse;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: left;
}

