div.Anchor
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Anchor_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Anchor_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Body_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Body_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Bullet
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -9pt;
  text-transform: none;
  vertical-align: baseline;
}

.Bullet_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Bullet_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Bullet2
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 27pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -9pt;
  text-transform: none;
  vertical-align: baseline;
}

.Bullet2_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Bullet2_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.BulletStep
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.BulletStep_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.BulletStep_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.BulletStep2
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.BulletStep2_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.BulletStep2_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ChapterName
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 20.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.ChapterName_outer
{
  margin-bottom: 20.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.ChapterName_inner
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ChapterNumber
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.ChapterNumber_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.ChapterNumber_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.DialogBox
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.DialogBox_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.DialogBox_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.dots
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 8.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.dots_outer
{
  margin-bottom: 8.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.dots_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.DropDownStart
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.DropDownStart_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.DropDownStart_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.FigureTitle
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.FigureTitle_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.FigureTitle_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Head1
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 20.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Head1_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 20.0pt;
}

.Head1_inner
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Head2
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 18.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Head2_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 18.0pt;
}

.Head2_inner
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Head3
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 18.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Head3_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 18.0pt;
}

.Head3_inner
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Header
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Header_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Header_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Indent
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Indent_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Indent_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.IndexTitle
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 20.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.IndexTitle_outer
{
  margin-bottom: 20.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.IndexTitle_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Mapping_Table_Cell
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Mapping_Table_Cell_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
}

.Mapping_Table_Cell_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Mapping_Table_Title
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Mapping_Table_Title_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
}

.Mapping_Table_Title_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.NoteFlag
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.NoteFlag_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.NoteFlag_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.NoteHint
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.NoteHint_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.NoteHint_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.NoteReport
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.NoteReport_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.NoteReport_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.NoteWarning
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.NoteWarning_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.NoteWarning_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.Numbered_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Numbered_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.NumberedIntro
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.NumberedIntro_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
}

.NumberedIntro_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.RelatedTopic
{
  color: #3e768e;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.RelatedTopic_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.RelatedTopic_inner
{
  color: #3e768e;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

pre.Report
{
  color: #000000;
  font-family: Monospace;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Report_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Report_inner
{
  color: #000000;
  font-family: Monospace;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Subhead
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Subhead_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Subhead_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableBullet
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 14.976pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -9pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableBullet_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.TableBullet_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableHead
{
  color: #ffffff;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableHead_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.TableHead_inner
{
  color: #ffffff;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableSubhead
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableSubhead_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.TableSubhead_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableText
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableText_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.TableText_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Bold
{
  font-weight: bold;
}

span.Bulletsymbol
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Italics
{
  color: #000000;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Number
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Typed-in.text
{
  color: #000000;
  font-family: "Courier New";
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.TypedInText
{
  font-family: "Courier New";
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

table.Hint
{
  border-collapse: collapse;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 4pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 4pt;
  text-align: left;
}

table.UnstructMasterPageMaps
{
  border-collapse: collapse;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  padding-bottom: 3pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 3pt;
  text-align: left;
}

table.Question
{
  border-collapse: collapse;
  margin-bottom: 0.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: center;
}

table.Mapping_Table
{
  border-collapse: collapse;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  padding-bottom: 2pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 2pt;
  text-align: left;
}

table.Sidebar.table
{
  border-collapse: collapse;
  margin-bottom: 14.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 8.0pt;
  padding-bottom: 5pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 5pt;
  text-align: left;
}

table.N1col.table
{
  border-collapse: collapse;
  margin-bottom: 8.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: left;
}

table.table.text.bullet
{
  border-collapse: collapse;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: left;
}

table.N2col.table
{
  border-collapse: collapse;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  padding-bottom: 3pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 4pt;
  table-layout: auto;
  text-align: left;
}

table.report
{
  border-collapse: collapse;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 4.0pt;
  padding-bottom: 2pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 3pt;
  text-align: left;
}

table.DialogBox
{
  border-collapse: collapse;
  margin-bottom: 0.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: center;
}

table.FieldDesc
{
  border-collapse: collapse;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 3pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 4pt;
  text-align: left;
}

table.Warning
{
  border-collapse: collapse;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: left;
}

