div.Body
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Body_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Body_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Bulleted
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.Bulleted_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Bulleted_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CellBody
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.CellBody_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.CellBody_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CellHeading
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.CellHeading_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.CellHeading_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Footnote
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 30.00024pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -12.000240000000001pt;
  text-transform: none;
  vertical-align: baseline;
}

.Footnote_outer
{
  margin-bottom: 0.0pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
}

.Footnote_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading1
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Heading1_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
}

.Heading1_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading2
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Heading2_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
}

.Heading2_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.HeadingRunIn
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.HeadingRunIn_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
}

.HeadingRunIn_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Indented
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Indented_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Indented_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.Numbered_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Numbered_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered1
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.Numbered1_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Numbered1_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableFootnote
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 30.00024pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -12.000240000000001pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableFootnote_outer
{
  margin-bottom: 0.0pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
}

.TableFootnote_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableTitle
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableTitle_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.TableTitle_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Title
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 24.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Title_outer
{
  margin-bottom: 12.0pt;
  margin-right: 0pt;
  margin-top: 24.0pt;
}

.Title_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Emphasis
{
  font-style: italic;
}

span.EquationVariables
{
  font-style: italic;
}

table.Format_A
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: left;
}

table.Format_B
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: center;
}

table.UnstructMasterPageMaps
{
  border-collapse: collapse;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  padding-bottom: 3pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 3pt;
  text-align: left;
}

