div.Body
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Body_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Body_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Bullet
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -9pt;
  text-transform: none;
  vertical-align: baseline;
}

.Bullet_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Bullet_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.bullet_2
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 63pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: Left;
  text-indent: -27pt;
  text-transform: none;
  vertical-align: baseline;
}

.bullet_2_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
}

.bullet_2_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ChapterName
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 20.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.ChapterName_outer
{
  margin-bottom: 20.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.ChapterName_inner
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.dots
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 8.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.dots_outer
{
  margin-bottom: 8.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.dots_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.DropDownStart
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.DropDownStart_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.DropDownStart_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H_002fF_Portrait
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H_002fF_Portrait_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.H_002fF_Portrait_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Head1
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 20.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Head1_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 20.0pt;
}

.Head1_inner
{
  color: SteelBlue;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Link
{
  color: #0000ff;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Link_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Link_inner
{
  color: #0000ff;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Subhead
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Subhead_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Subhead_inner
{
  color: #000000;
  font-family: Verdana, Helvetica, Arial, Tahoma, Sans-Serif;
  font-size: smaller;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Bold
{
  font-weight: bold;
}

span.EquationVariables
{
  font-style: italic;
}

span.Italics
{
  color: #000000;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Linke
{
  color: #0000ff;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

table.UnstructMasterPageMaps
{
  border-collapse: collapse;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  padding-bottom: 3pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 3pt;
  text-align: left;
}

